{% extends 'Index_App/base.html' %}
{% load static %}
<title>{% block title %}KPL 2022{%endblock title%}</title>
{% block main_content %}
	
<section id="home" class="home">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<div class="main-banner">
					<div class="d-sm-flex justify-content-between">
						<div data-aos="zoom-in-up">
							<div class="d-flex justify-content-between">
								{% if matchinfo %}
									<div>
										<img src="{{matchinfo.first_ins.logo.url}}" alt="marsmello" class=" img-thumbnail" width="150px" height="50px" data-aos="zoom-in-up">
										<p class="">
											{{matchinfo.first_ins.short_name}} <span id="teamone">{{matchinfo.first_ins_runs}}/{{matchinfo.first_ins_wkts}} ({{matchinfo.first_ins_overs}})</span>
										</p>
									</div>
									<div>
										<center><h1 class="mt-4 px-2">VS</h1></center>
									</div>
									<div class="">
										<img src="{{matchinfo.second_ins.logo.url}}" alt="marsmello" class="img-thumbnail" width="150px" height="50px" data-aos="zoom-in-up">
										<p class="">
											{{matchinfo.second_ins.short_name}} <span id="teamtwo">{% if matchinfo.first_ins_complete%}{{matchinfo.second_ins_runs}}/{{matchinfo.second_ins_wkts}} ({{matchinfo.second_ins_overs}}) {%endif %}</span>
										</p>
									</div>
									{% endif %}
							</div>
							{% if schedule_obj.status == "Live" %}
							<a href="{% url 'match_live' %}" class="btn btn-danger mt-3">Live</a>
							{% else %}
							<a href="{% url 'match_review' id=matchinfo.schedule.id %}" class="btn btn-success mt-3">Review</a>
							{%endif %}
						</div>
						
						<div class="mt-5 mt-lg-0">
							<img src="{% static 'Index_App/images/group.png' %}" alt="marsmello" class="img-fluid" data-aos="zoom-in-up">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	{% if top_bowler.count > 0  %}
	<h5 class="ml-3 text-primary"> Top Batters</h5>
	<div class="mb-5" data-aos="fade-up">
		<div class="owl-carousel owl-theme" style="width: 100% important;">
			{% for bt in top_batter %}
			<div class="item" style="background-color: azure;">
				<a href=""><img src="{{bt.image.url}}" alt="slider"></a>
				<span style="position: fixed; color:rgb(54, 10, 212); left:20px; bottom:20px; background:white; padding:5px 10px; border-radius:15%;">#{{forloop.counter}}. <small class="text-success">{{bt.name}}</small></span>
			</div>
			{% endfor %}

		</div>
	</div>
	
	{% endif %}

	{% if top_six_hitter.count > 0  %}
	<h5 class="ml-3 text-primary"> Top Bowlers</h5>
	<div class="mb-5" data-aos="fade-up">
		<div class="owl-carousel owl-theme" style="width: 100% important;">
			{% for bt in top_six_hitter %}
			<div class="item" style="background-color: azure;">
				<a href=""><img src="{{bt.image.url}}" alt="slider"></a>
				<span style="position: fixed; color:rgb(54, 10, 212); left:20px; bottom:20px; background:white; padding:5px 10px; border-radius:15%;">#{{forloop.counter}}. <small class="text-success">{{bt.name}}</small></span>
			</div>
			{% endfor %}

		</div>
	</div>
	{% endif %}

	{% if top_batter.count > 0  %}
	<h5 class="ml-3 text-primary"> Top Six Hitters</h5>
	<div class="mb-5" data-aos="fade-up">
		<div class="owl-carousel owl-theme" style="width: 100% important;">
			{% for bt in top_bowler %}
			<div class="item" style="background-color: azure;">
				<a href=""><img src="{{bt.image.url}}" alt="slider"></a>
				<span style="position: fixed; color:rgb(54, 10, 212); left:20px; bottom:20px; background:white; padding:5px 10px; border-radius:15%;">#{{forloop.counter}}. <small class="text-success">{{bt.name}}</small></span>
			</div>
			{% endfor %}

		</div>
	</div>
	{% endif %}

	
</section>
{% endblock main_content %}

{% block js %}
<script>
	$('.owl-carousel').owlCarousel({
		loop:true,
		margin:10,
		responsiveClass:true,
		responsive:{
			0:{
				items:1,
				nav:false
			},
			600:{
				items:3,
				nav:false
			},
			1000:{
				items:5,
				nav:false,
				loop:false
			}
		}
	})

var BASEURL="http://127.0.0.1:8008"

  $(document).ready(function(){
		setInterval(function(){
			$.ajax({
				url: "fetch_user_livematch_home",
				type: "GET",
				data: {
				  "match_info": "{{matchinfo.id}}"
				},
				cache: false,
				success: function(result){
				  if(result["status"]){
					  console.log("hii")
					var matchinfo = result["matchinfo"]
					if (matchinfo.first_ins_complete){
					  $('#teamtwo').empty()
					  $('#teamtwo').text(`${matchinfo.second_ins_runs}/${matchinfo.second_ins_wkts} (${matchinfo.second_ins_overs})`)
				  }
				  else{
					  $('#teamone').empty()
					  $('#teamone').text(`${matchinfo.first_ins_runs}/${matchinfo.first_ins_wkts} (${matchinfo.first_ins_overs})`)
				  }
  
				}
				else{
				  console.log(result["message"])
				}
			  },error:function(e){
  
			  }
	
			});
		},500000)
         
      
  });
</script>	
{% endblock js %}