{% extends 'Index_App/base.html' %}

{% load static %}
{% block title %}{{player.name}} About{%endblock title%}

{% block main_content %}

<section >
	<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="tile">
        <h5 class="tile-title">{{player.name}}</h5>
        <img src="{{player.image.url}}" class="img-thumbnail" style="width:100%; height:180px !important" alt="">
        <table class="table">
          <thead>
          <tbody>
            <tr>
              <th>Name</th>
              <td>{{player.name}}</td>
             </tr>
            <tr>
              <th>Team</th>
              <td>{{player.team.name}}</td>
             </tr>
             <tr>
              <th>Born</th>
              <td>{{player.address}}</td>
             </tr>
             <tr>
              <th>Age</th>
              <td>{{player.age}}</td>
             </tr>

             <tr>
              <th>Role</th>
              <td>{{player.role}}</td>
             </tr>

             <tr>
              <th>Bat style</th>
              <td>{{player.batting_style}}</td>
             </tr>

             <tr>
              <th>Bowl Style</th>
              <td>{{player.bowling_style}}</td>
             </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-md-4">
      <div class="tile">
        <h5 class="tile-title">Batting Statistics</h5>
        <table class="table">
          <thead>
          <tbody>
            <tr>
              <th>Mat</th>
              <td>{{player.match}}</td>
             </tr>
             <tr>
              <th>Inn</th>
              <td>{{player.bat_ins}}</td>
             </tr>
             <tr>
              <th>Runs</th>
              <td>{{player.bat_runs}}</td>
             </tr>
             <tr>
              <th>Balls</th>
              <td>{{player.bat_balls}}</td>
             </tr>

             <tr>
              <th>SR</th>
              <td>{{player.bat_strike_rate}}</td>
             </tr>

             <tr>
              <th>HS</th>
              <td>{{player.bat_high_score}}</td>
             </tr>

             <tr>
              <th>Avg</th>
              <td>{{player.bat_average}}</td>
             </tr>


             <tr>
              <th>30s</th>
              <td>{{player.bat_thirty}}</td>
             </tr>
             <th>50s</th>
              <td>{{player.bat_fifty}}</td>
             </tr>

              <th>4s</th>
              <td>{{player.bat_fours}}</td>
             </tr>
             <th>6s</th>
              <td>{{player.bat_sixes}}</td>
             </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-md-4">
      <div class="tile">
        <h5 class="tile-title">Bowling Statistics</h5>
        <table class="table">
          <thead>
          <tbody>
            <tr>
              <th>Mat</th>
              <td>{{player.match}}</td>
             </tr>
             <tr>
              <th>Inn</th>
              <td>{{player.bowl_ins}}</td>
             </tr>
             <tr>
              <th>Wkt</th>
              <td>{{player.bowl_wicket}}</td>
             </tr>
             <tr>
              <th>Runs</th>
              <td>{{player.bowl_runs}}</td>
             </tr>
             <tr>
              <th>Balls</th>
              <td>{{player.bowl_balls}}</td>
             </tr>

             <tr>
              <th>Eco</th>
              <td>{{player.bowl_economy}}</td>
             </tr>

             <tr>
              <th>Avg</th>
              <td>{{player.bowl_average}}</td>
             </tr>

             <tr>
              <th>Best</th>
              <td>{{player.bowl_best_bowling}}</td>
             </tr>

             <tr>
              <th>3W</th>
              <td>{{player.bowl_three_wkt}}</td>
             </tr>
             <th>5W</th>
              <td>{{player.bowl_five_wkt}}</td>
             </tr>

              
          </tbody>
        </table>
      </div>
    </div>
  </div>
  </div>
</section>
{% endblock main_content %}



{% block js %}
<script type="text/javascript" src="{% static 'Admin_App/js/plugins/jquery.dataTables.min.js' %}"></script>
<script type="text/javascript" src="{% static 'Admin_App/js/plugins/dataTables.bootstrap.min.js' %}"></script>
<script type="text/javascript">
  $('#sampleTable').DataTable();
</script>
{% endblock js %}