{% extends 'Index_App/base.html' %}
{% load static %}

{% block main_content %}
	
<section class="our-projects" id="projects">
	<div class="container">
		<div class="row mb-5">
			<div class="col-sm-12">
				<div class="d-sm-flex justify-content-between align-items-center mb-2">
					<h3 class="font-weight-medium text-dark ">Let's See Our Latest Project</h3>
					<div><a href="#" class="btn btn-outline-primary">View more</a></div>
				</div>
			</div>
		</div>
	</div>
	<div class="mb-5" data-aos="fade-up">
		<div class="owl-carousel-projects owl-carousel owl-theme">
			<div class="item">
				<img src="images/carousel/slider1.jpg" alt="slider">
			</div>
			<div class="item">
				<img src="images/carousel/slider2.jpg" alt="slider">
			</div>
			<div class="item">
				<img src="images/carousel/slider3.jpg" alt="slider">
			</div>
			<div class="item">
				<img src="images/carousel/slider4.jpg" alt="slider">
			</div>
			<div class="item">
				<img src="images/carousel/slider5.jpg" alt="slider">
			</div>
			<div class="item">
				<img src="images/carousel/slider1.jpg" alt="slider">
			</div>
			<div class="item">
				<img src="images/carousel/slider2.jpg" alt="slider">
			</div>
			<div class="item">
				<img src="images/carousel/slider3.jpg" alt="slider">
			</div>
			<div class="item">
				<img src="images/carousel/slider4.jpg" alt="slider">
			</div>
			<div class="item">
				<img src="images/carousel/slider5.jpg" alt="slider">
			</div>
			<div class="item">
				<img src="images/carousel/slider1.jpg" alt="slider">
			</div>
			<div class="item">
				<img src="images/carousel/slider2.jpg" alt="slider">
			</div>
			<div class="item">
				<img src="images/carousel/slider3.jpg" alt="slider">
			</div>
			<div class="item">
				<img src="images/carousel/slider4.jpg" alt="slider">
			</div>
			<div class="item">
				<img src="images/carousel/slider5.jpg" alt="slider">
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row pt-5 mt-5 pb-5 mb-5">
			<div class="col-sm-3">
				<div class="d-flex py-3 my-3 my-lg-0 justify-content-center" data-aos="fade-down">
					<img src="images/satisfied-client.svg" alt="satisfied-client" class="mr-3">
					<div>
						<h4 class="font-weight-bold text-dark mb-0"><span class="scVal">0</span>%</h4>
						<h5 class="text-dark mb-0">Satisfied clients</h5>
					</div>
				</div>
			</div>
			<div class="col-sm-3">
				<div class="d-flex py-3 my-3 my-lg-0 justify-content-center" data-aos="fade-up">
					<img src="images/finished-project.svg" alt="satisfied-client" class="mr-3">
					<div>
						<h4 class="font-weight-bold text-dark mb-0"><span class="fpVal">0</span></h4>
						<h5 class="text-dark mb-0">Finished Project</h5>
					</div>
				</div>
			</div>
			<div class="col-sm-3">
				<div class="d-flex py-3 my-3 my-lg-0 justify-content-center" data-aos="fade-down">
					<img src="images/team-members.svg" alt="Team Members" class="mr-3">
					<div>
						<h4 class="font-weight-bold text-dark mb-0"><span class="tMVal">0</span></h4>
						<h5 class="text-dark mb-0">Team Members</h5>
					</div>
				</div>
			</div>
			<div class="col-sm-3">
				<div class="d-flex py-3 my-3 my-lg-0 justify-content-center" data-aos="fade-up">
					<img src="images/our-blog-posts.svg" alt="Our Blog Posts" class="mr-3">
					<div>
						<h4 class="font-weight-bold text-dark mb-0"><span class="bPVal">0</span></h4>
						<h5 class="text-dark mb-0">Our Blog Posts</h5>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

{% endblock main_content %}