{% extends 'Admin_App/base.html' %}


{% block main_content %}

<main class="app-content">
  <div class="app-title">
    <div>
      <ul class="app-breadcrumb breadcrumb">
        <li class="breadcrumb-item active"><a href="#"><i class="fa fa-dashboard"></i> Dashboard</a></li>
      </ul>
    </div>
    <ul class="app-breadcrumb breadcrumb">
      <li class="breadcrumb-item active"><button class="btn btn-outline-primary" type="button" data-toggle="modal" data-target="#add_team">Add Team</button>
      </li>
    </ul>
    <div class="modal" id="add_team" >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Add Team</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
          </div>
          <form method="POST" action="{{teams}}" enctype="multipart/form-data">
          <div class="modal-body">
              {% csrf_token %}
              <div class="form-group">
                <label class="control-label">Team Name</label>
                <input class="form-control" type="text" name="team_name" placeholder="Enter Team Name">
              </div>
              <div class="form-group">
                <label class="control-label">Short Name</label>
                <input class="form-control" type="text" name="team_short_name" placeholder="Enter Team Short Name">
              </div>
              <div class="form-group">
                <label class="control-label">Logo</label>
                <input class="form-control" type="file" name="logo">
              </div>
          </div>
          <div class="modal-footer">
            <button class="btn btn-primary" type="submit">Add</button>
            <button class="btn btn-secondary" type="button" data-dismiss="modal">Close</button>
          </div>
        </form>

        </div>
      </div>
    </div>

  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="tile">
        <h3 class="tile-title">Teams</h3>
        <table class="table">
          <thead>
            <tr>
              <th>#</th>
              <th>Name</th>
              <th>Short Name</th>
              <th>Logo</th>
            </tr>
          </thead>
          <tbody>
          {% for t in all_teams %}
            <tr>
              <td>{{forloop.counter}}</td>
              <td><a href="{% url 'team_details' id=t.id %}">{{t.name}}</a></td>
              <td>{{t.short_name}}</td>
              <td><img src="{{t.logo.url}}" class="rounded-circle border-border-success" width="50px" height="50px" alt="{{t.name}}"></td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</main>
{% endblock main_content %}